* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root,html,body{
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #FAFAF8;
}
.header{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.logo{
    height: 100px;
    max-height: 70%;
    max-width: 15%;
}
.logo-name{
    font-size: 2.8rem;
    font-weight: 400;
}
.main{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:start;
    gap: 30px;
}
.add-ingredient-form > input{
    margin-top: 40px;
    height: 35px;
    width: 400px;
    max-width: 40%;
    border-radius: 5px;
    padding: 8px;
    
}
button{
    margin-top: 40px;
    background-color: black;
    border-radius: 5px;
    color: #FAFAF8;
    height: 35px;
    width: 150px;
    max-width: 30%;
    padding: 5px;
}

section{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.get-recipe-container {
    width: 50%;
    max-width: 500px;
    height: 50%;
    max-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    gap: 20px;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    margin-bottom: 30px;
    max-width: 120px ;
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    cursor: pointer;
}